.btn {
  height: 60px;
    min-width: 325px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background: #f6f6f6;
    padding: 5px;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
    &:hover{
      background: $lightpink;
      .btn__icone i {
        color: $color-primary;
      }
    }
  &__number {
    background: $color-primary;
    padding: 2px 5px;
    border-radius: 10px;
    color: white;
    font-size: 70%;
    position: absolute;
    left: -8px;
  }
  &__icone {
    padding: 0 20px 0 25px;
    color: #7e7e7e;
    width: 50px;
    i {
      display: flex;
      justify-content: center;
    }
  }
  &__ttl {
    font-size: medium;
    font-weight: bolder;
    color: black;
  }
}
