.button {
  padding: 15px 30px;
  font-size: 90%;
  color: white;
  border: none;
  border-radius: 50px;
  background: rgb(255, 121, 218);
  background: linear-gradient(
    172deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(147, 86, 220, 1) 88%
  );
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
  
  &:hover {
    transform: scale(1.1);
    opacity: 0.8;
    cursor:pointer;
  }
}
