.item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    min-width: 260px;
    background: white;
    padding: 0 10px;
    margin: 0 -5px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
    animation-name: animate;

    @for $i from 1 through 100 {
      &:nth-child(#{$i}) {
        animation-duration: calc(0.5s * #{$i});
      }
    }
    &__name {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        h3 {font-size: 1em;
            margin: 0;
            padding: 10px 0;
            white-space: nowrap;
            text-overflow: ellipsis;
}
        p{
            margin: 0;
            padding: 0 0 10px;
            font-size: 0.9em;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        }
        &__price {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: stretch;
            width: 25%;
            margin-right: -5px;
            p {
                align-self: flex-end;
                margin: 0;
                padding: 0 10px 10px;
                font-size: 0.9em;
                font-weight: bold;
            }
            &:hover {
                .checked {
                    width: 50%;
                    > i {
                        opacity: 1;
                        transform: rotate(0deg);
                        }
                    }
                }
            > .checked {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 0%;
                background: $color-tertiary;
                color: white;
                margin-right: -5px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                transition: width 0.1s ease-in-out;
                > i {
                    opacity: 0;
                    transform: rotate(90deg);
                    transition: all 0.3s ease-in-out;
                    font-size: 1.5em;
                }
            }
        }
    }



