body {
  font-family: $font-text;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  position: relative;
}
.instructions {
  display: flex;
  flex-direction: column;
  padding: 0 35px 50px;
  &__btns {
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 20px;
  }
}

.results {
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
  background: $lightgrey;
  &__btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
