body {
  font-family: $font-text;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  position: relative;
}
.instructions {
  display: flex;
  flex-direction: column;
  padding: 0 20px 50px;
  @media only screen and (min-width: 768px) {
    align-items: center;
  }
  &__btns {
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 20px;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      }
  }
}

.results {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: $lightgrey;
  @media only screen and (min-width: 768px) {
    align-items: center;
  }
  &__btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1000px;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
    @media only screen and (min-width: 1500px) {
      max-width: none;
    }
  }
}

.order {
  display: flex;
    height: 110px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    background: $lightgrey;
}
body {
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.loadcontent
{
    position: fixed;
    width: 100%;
    height: 100%;
    display:  flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF80;
    animation: loadinger 0.1s;
    animation-delay: 3s;
    animation-fill-mode: both;
    z-index: 999;
}

.loading
{
    border-bottom: 5px solid #9356DC;
    border-top: 5px solid #99E2D0;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: loading 1s ease-in-out;
    animation-iteration-count: 3;
}
@keyframes loading
{
    0%
    { 
        transform: rotate(0deg); 
    }
    100%
    { 
        transform: rotate(360deg);
    }
}


@keyframes loadinger
{
    100%
    {
       opacity: 0;
       z-index: -1;
    }
}


