body {
  font-family: $font-text;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  position: relative;
}
.instructions {
  display: flex;
  flex-direction: column;
  padding: 0 20px 50px;
  @media only screen and (min-width: 768px) {
    align-items: center;
  }
  &__btns {
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 20px;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      }
  }
}

.results {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: $lightgrey;
  @media only screen and (min-width: 768px) {
    align-items: center;
  }
  &__btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1000px;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
    @media only screen and (min-width: 1500px) {
      max-width: none;
    }
  }
}

.order {
  display: flex;
    height: 110px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    background: $lightgrey;
}


