.foot {
    background: $lightblack;
    color: white;
    padding: 10px 35px;
    &__logo h1 {
        font-family: $font-ttl;
        font-size: 1.2em;
    }
    &__list ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
        list-style: none;
        padding: 0;
        li {
        font-size: 0.8em;
        i {
            padding-right: 20px;
        }
        }
    }
}
@media only screen and (min-width: 768px) {
    .foot {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        &__list ul{
            flex-direction: row;
            gap: 40px;
        }
    }
}